---
import Layout from "@/layouts/layout.astro";
import Profile from "@/components/profile.astro";
import About from "@/components/sections/about.astro";
import TechStack from "@/components/tech-stack.astro";
import ProjectList from "@/components/sections/projects/project-list.astro";
---

<Layout title={import.meta.env.PUBLIC_PROJECT_AUTHOR}>
  <div class="mb-14">
    <Profile />
  </div>

  <About />

  <section class="my-10">
    <TechStack />
  </section>

  <section>
    <header class="hidden">
      <h2>Projects</h2>
    </header>
    <ProjectList />
  </section>
</Layout>
