---
import { NAV_LINKS } from "@/lib/constants/index";

const pathname = Astro.url.pathname;

// Remove trailing slash from current pathname if exists
const currentPath =
  pathname.endsWith("/") && pathname !== "/" ? pathname.slice(0, -1) : pathname;

const isActive = (path: string) => {
  const currentPathArray = currentPath.split("/").filter(p => p.trim());
  const pathArray = path.split("/").filter(p => p.trim());

  return currentPath === path || currentPathArray[0] === pathArray[0];
};
---

<ul class="flex gap-2">
  {
    NAV_LINKS.map(link => (
      <li>
        <a
          href={link.href}
          class:list={[
            "btn btn-ghost",
            isActive(link.href) ? "btn-accent" : "",
          ]}
        >
          {link.label}
        </a>
      </li>
    ))
  }
</ul>
