---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<nav class="join items-center gap-2">
  <a
    class="btn join-item"
    class:list={ !page.url.prev ? "btn-disabled" : "" }
    href={page.url.prev as string}
  >
    «
  </a>
  <p class="join-item">
    <b>{page.currentPage} </b>/ {page.lastPage}
  </p>
  <a
    class="btn join-item"
    class:list={ !page.url.next ? "btn-disabled" : "" }
    href={page.url.next as string}
  >
    »
  </a>
</nav>
