---
import PageLayout from "@/layouts/page-layout.astro";
import ProjectList from "@/components/sections/projects/project-list.astro";
---

<PageLayout
  description="description"
  title="My Projects"
>
  <header>
    <h1 class="mb-4 text-4xl font-extrabold">Projects</h1>
  </header>

  <ProjectList />
</PageLayout>
